* {
    box-sizing: border-box;
}

:root {
    --text-color-black-gray: #575d5e;
    --primary-color-black: #152427;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Public Sans", sans-serif;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 57px;
    min-width: 173px;

    height: var(--height);
    line-height: 57px;
    padding: 0 10px;
    display: inline-block;
    text-align: center;
    border-radius: 40px;
    background-color: #143c3c;
    color: #fff;
}

.btn:hover {
    opacity: 0.9;
}

.control {
    display: flex;
    align-items: center;
    column-gap: 17px;
}

.control__btn {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: #e2eddf;
    border: 1px solid #e2eddf;
    outline: none;
}
.control__btn:hover {
    cursor: pointer;
    color: #fff;
    background: #143c3c;
}
.section-desc {
    color: var(--text-color-black-gray);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 28px;
}

.section-heading {
    color: var(--primary-color-black);
    font-size: 5rem;
    font-weight: 800;
    line-height: 60px;
}
/* header */

.header {
    font-family: "Public Sans", sans-serif;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 0 4px;
    position: relative;
}

.header-top::after {
    left: 0;
    right: 0;
    bottom: -26px;
    margin: 0 auto;
    position: absolute;
    display: inline-block;
    content: "";
    width: 16px;
    height: 2px;
    background: #143c3c;
}

.header-top::before {
    left: 0;
    right: 0;
    bottom: -26px;
    margin: 0 auto;
    position: absolute;
    display: inline-block;
    content: "";
    width: 100%;
    height: 1px;
    background: linear-gradient(
        18deg,
        #fff 0%,
        #dddcdc 51.25%,
        rgba(212, 212, 212, 0) 100%
    );
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 88px;
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__item-link {
    color: var(--text-color-black-gray);
    padding: 4px 20px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 28px;
}

.nav__item-link:hover {
    text-decoration: underline;
    color: #000;
}

/* hero */

.hero {
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
}

.hero-content {
    flex-shrink: 0;
}

.hero-content__heading {
    width: 368px;
}

.hero-content__desc {
    width: 341px;
    margin-top: 20px;
}

.action {
    margin-top: 42px;
    display: flex;
    align-items: center;
    column-gap: 36px;
}
.video-btn:hover {
    opacity: 0.9;
}

.hero-media {
    position: relative;
}

.hero-images {
    display: flex;
    column-gap: 20px;
}
.hero-images::before {
    right: 0;
    left: 0;
    top: 70px;
    margin: 0 auto;
    position: absolute;
    content: "";
    display: inline-block;
    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: -1;
}
.hero-img {
    width: 202px;
    height: 468px;
    object-fit: cover;
    border-radius: 110px;
}

.hero-img:nth-child(2) {
    margin-top: 70px;
}

.hero-icon {
    position: absolute;
    z-index: 2;
}

.hero-img__icon-1 {
    top: -267px;
    position: relative;
    left: -243px;
}

.hero-img__icon-2 {
    position: relative;
    top: 11px;
    left: -284px;
}

.hero-img__icon-fix,
.hero-img__icon-fix--icon-2 {
    rotate: 180deg;
}

.hero-img__icon-fix {
    position: relative;
    top: -133px;
    left: 546px;
}

.hero-img__icon-fix--icon-2 {
    top: -133px;
    left: -52px;

    position: relative;
}

/* Brand */

.brand {
    margin-top: 42px;
}

.brand-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--scondery-color-light-green, #e2eddf);
    padding: 76px 122px;
    border-radius: 100.5px;
}

.brand-img__thumb-fix {
    column-gap: 11px;
    display: flex;
    align-items: center;
}

.brand-img__name-brand {
    color: #163c35;
    font-family: Poppins;
    font-size: 2.6rem;
    font-weight: 400;
}

/* service */

.service {
    margin-top: 106px;
    font-family: "Poppins", sans-serif;
}

.service-item {
    overflow: hidden;
    transition: 0.25s;
}

.service-header__desc {
    align-items: center;
    display: flex;
    column-gap: 21px;
    color: var(--primary-color-black);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 26px;
}

.service-header__desc::before {
    display: inline-block;
    content: "";
    width: 25px;
    height: 1px;
    background: var(--primary-color-black);
}

.service-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-action__heading {
    color: var(--primary-color-black);
    width: 520px;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
    position: relative;
}

.service-action__heading::after {
    position: absolute;
    right: 104px;
    bottom: 17px;
    display: inline-block;
    content: "";
    width: 66px;
    height: 2px;
    background: var(--primary-color-black);
}

.service-list {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}

.service-item:hover {
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    border-radius: 20px;
}

.service-item__img {
    height: 318px;
    overflow: hidden;
}

.service-item__thumb {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    transition: 0.25s;
}

.service-item:hover .service-item__thumb {
    transform: scale(1.1);
}

.service-item__body {
    padding: 23px 16px;
}

.service-item__heading {
    color: var(--primary-color-black);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 22px;
}

.service-item__desc {
    width: 263px;
    margin-top: 18px;
    color: var(--text-color-light-gray);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 24px;
}

/* about */

.about {
    margin-top: 157px;
    font-family: "poppins", sans-serif;
}

.about-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-media {
    flex: 1;
}

.about-media__thumb {
    position: relative;
    display: flex;
    gap: 21px;
}
.about-media__thumb::before {
    right: 0;
    left: 0;
    top: 70px;
    margin: 0 auto;
    position: absolute;
    content: "";
    display: inline-block;
    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: -1;
}
.about-media__img {
    width: 286px;
    height: 480px;
    border-radius: 210px;
    object-fit: cover;
}

.about-media__img:first-child {
    margin-top: 77px;
}

.about-team {
    font-family: "Public Sans", sans-serif;
    width: 143px;
    position: absolute;
    bottom: 12px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
    right: 56px;
}

.about-team__inner {
    padding: 19px 17px 11px;
}

.about-team__heading {
    color: var(--primary-color-black);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 14px; /* 100% */
}

.about-team__values {
    position: relative;
    display: block;
    padding-bottom: 5px;
    margin-top: 10px;
}
.about-team__values::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    left: 0;
    bottom: 0;
    z-index: 3;
    background: #83a17d;
    border-radius: 10px;
}

.about-team__values::after {
    content: "";
    position: absolute;
    width: 96px;
    height: 2px;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: #eaeaea;
    border-radius: 10px;
}

.about-team__loading {
    margin-top: 3px;
    display: block;
    color: var(--primary-color-black);
    font-size: 1rem;
    font-weight: 500;
    text-align: end;
    line-height: 14px; /* 140% */
}

.group-team {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 19px;
}

.group-team__title {
    color: var(--primary-color-black);
    font-size: 1rem;
    font-weight: 500;
    line-height: 14px; /* 140% */
    position: relative;
}
.group-team__title::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    top: -10px;
    left: 3px;

    outline: 3px solid #eaeaea;
    border-radius: 50%;
    background: #143c3c;
}
.group-team__list {
    display: flex;
    justify-content: flex-end;
}
.group-team__img {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    border: 1px solid #fff;
    margin-left: -2px;
}

.group-team__item + .group-team__item {
    margin-left: -3px;
}

.about-team__desc {
    margin-top: 6px;
    color: var(--text-color-black-gray);
    font-size: 1rem;
    font-weight: 400;
    line-height: 14px; /* 140% */
}
.about-content {
    width: 42%;
}

.about-content__title {
    display: flex;
    align-items: center;
    gap: 21px;
    color: var(--primary-color-black);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 18px; /* 112.5% */
}

.about-content__title::before {
    display: inline-block;
    content: "";
    width: 25px;
    height: 1px;
    background: var(--primary-color-black);
}

.about-content__heading {
    margin-top: 20px;
    color: var(--primary-color-black);
    width: 483px;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 52px; /* 123.81% */
}

.about-content__desc {
    margin-top: 11px;
    color: var(--text-color-light-gray, #7d8188);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
}

.about-qty {
    margin: 36px 0 38px;
    display: flex;
    align-items: center;
    gap: 24px;
    position: relative;
    padding-bottom: 20px;
}

.about-qty::after {
    position: absolute;
    display: block;
    content: "";
    width: 485px;
    height: 1px;
    bottom: 0;
    background: #83a17d;
}
.qty__percent {
    color: var(--primary-color-black);

    /* Heading/H3 42px bold */
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 52px; /* 123.81% */
}

.about-qty__desc {
    color: var(--text-color-light-gray, #7d8188);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
}

/* Process */

.process {
    padding: 28px 0 36px;
    font-family: Poppins;
    margin-top: 80px;
}

.process-item {
    padding: 46px 0 21px;
    border-bottom: 1px solid #83a17d;
    transition: 0.25s;
}
.process__title {
    display: flex;
    align-items: center;
    gap: 21px;
    color: var(--primary-color-black);
    font-size: 1, 6rem;
    font-weight: 500;
    line-height: 18px; /* 112.5% */
}

.process__title::before {
    display: inline-block;
    content: "";
    width: 25px;
    height: 1px;
    background: var(--primary-color-black);
}

.process-heading {
    width: 477px;
    margin-top: 20px;
    position: relative;
    color: var(--primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 52px; /* 123.81% */
}

.process-heading::after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 66px;
    bottom: 19px;
    right: 0;
    height: 2px;
    background: var(--primary-color-black);
}

.process-list {
    display: grid;
    margin-top: 81px;
    grid-template-rows: repeat(3, 1fr);
    position: relative;
}

.process-item__img {
    position: absolute;
    top: -297px;
    right: 92px;
}

.process-item {
    padding: 57px 30px;
}
.process-item + .process-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.process-item__heading {
    color: var(--primary-color-black);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 22px; /* 100% */
}

.process-item__row {
    display: flex;
    gap: 177px;
}
.process-item__number {
    font-size: 72px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--primary-color-black-green, #143c3c);
}
.process-item__more {
    display: inline-block;
    text-decoration: underline;
    text-underline-offset: 2px;
    color: var(--text-color-black-gray, #575d5e);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    margin-left: 268px;

    line-height: 18px; /* 100% */
}

.process-item__desc {
    width: 572px;
    color: var(--text-color-light-gray, #7d8188);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
}

.process-item:hover {
    background: #e2eddf;
    border-radius: 33px;
    border: none;
}

/* features */

.features {
    font-family: "Poppins", sans-serif;
    background-color: #143c3c;
    padding: 56px 33px 130px 63px;
    margin-top: 150px;
}

.features-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.features-inner__heading {
    width: 457px;
    color: #e7f9f9;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 52px; /* 123.81% */
}

.features-inner__heading::after {
    display: inline-block;
    content: "";
    width: 66px;
    height: 2px;
    background: var(--scondery-color-blue, #83a17d);
}
.features-inner__desc {
    color: var(--scondery-color-gray, #6a8383);
    width: 590px;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
}

.features-inner__more-project {
    color: #fff;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
}

.features-row {
    margin-top: 13px;
    gap: 29px;
    display: flex;
    align-items: center;
}

.features-media {
    margin-top: 65px;
    border-radius: 22px;
    overflow: hidden;
}
.features-cta {
    position: relative;
}
.feautres-cta__btn {
    cursor: pointer;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto auto;
    position: absolute;
    width: 118px;
    height: 118px;
    border-radius: 118px;
    background: rgba(0, 0, 0, 0.7);
}

.feautures-cta__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 22px;
}

/* service features  */
.service-features {
    padding-top: 140px;
    font-family: "Poppins";
}

.service-features-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service-features__heading {
    text-align: center;
    width: 520px;
    color: var(--primary-color-black, #152427);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 52px; /* 123.81% */
}

.service-features__desc {
    margin-top: 20px;
    color: var(--text-color-light-gray, #7d8188);
    text-align: center;
    width: 547px;
    font-size: 1.6rem;
    font-weight: 500;
}

.service-features-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 45px;
    margin-top: 103px;
}

.service-features-item {
    width: 350px;
    height: 362px;
    border-radius: 160px;
    border: 1.5px solid #cecece;
    transition: 0.25s;
}

.service-features-item:nth-child(2) {
    margin-top: -60px;
}
.service-features-item:hover {
    background: #fff;
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
}
.service-features-item-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 75px 37px;
}

.service-features-item__content {
    text-align: center;
    margin-top: 24px;
}
.service-features-item__icon {
    width: 40px;
    height: 38px;
    object-fit: cover;
}

.service-features-item__title {
    color: #152427;

    font-size: 2rem;
    font-weight: 600;
    line-height: 20px; /* 100% */
}

.service-features-item__desc {
    color: var(--text-color-light-gray, #7d8188);
    margin-top: 10px;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
}

/* Blog */

.blog {
    margin-top: 185px;
    font-family: "Poppins";
}

.blog-header__title {
    display: flex;
    align-items: center;
    column-gap: 21px;
    color: var(--primary-color-black);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 18px; /* 112.5% */
}

.blog-header__title::before {
    display: inline-block;
    content: "";
    width: 25px;
    height: 1px;
    background: var(--primary-color-black, #152427);
}

.blog-header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog-header__heading {
    position: relative;
    color: var(--primary-color-black);
    width: 520px;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 52px; /* 123.81% */
}

.blog-header__heading::after {
    position: absolute;
    display: inline-block;
    bottom: 18px;
    right: -44px;
    content: "";
    width: 82px;
    height: 3px;
    background: var(--primary-color-black);
}

.blog-header__desc {
    width: 409px;
    color: var(--text-color-light-gray);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
}

.blog-list {
    margin-top: 185px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}
.blog-item {
    transition: 0.25s;
}

.blog-item:hover {
    border-radius: 40px 40px 0px 0px;
}

.blog-item__img {
    border-radius: 40px 40px 0px 0px;
    width: 100%;
    height: 317px;
    object-fit: cover;
}

.blog-item__body {
    padding: 26px 30px 12px;
    border-radius: 0px 0px 20px 20px;
}

.blog-item__body:hover {
    border-radius: 0px 0px 20px 20px;
}
.blog-item:hover .blog-item__body {
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
}

.blog-item:hover .blog-item__btn {
    color: var(--scondery-color-light-green, #e2eddf);
    background: var(--primary-color-black-green, #143c3c);
}

.blog-item__btn {
    margin-top: 26px;
    display: block;
    min-width: 107px;
    height: 26px;
    line-height: 26px;
    color: #000;
    border-radius: 20px;
    background: var(--scondery-color-light-green, #e2eddf);
    border: none;
}

.blog-item__btn:hover {
}
.blog-item__link {
    width: 346px;
    display: block;
    margin-top: 13px;
    color: var(--primary-color-black-green, #143c3c);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
}

.blog-item__dmy {
    display: block;
    position: relative;
    text-align: end;
    margin: 55px 20px 0 0;
    color: var(--text-color-black-gray, #575d5e);
    font-size: 1rem;
    font-weight: 500;
    line-height: 12px; /* 120% */
}

.blog-item__dmy::before {
    display: block;
    position: absolute;
    top: -16px;
    content: "";
    width: 337px;
    height: 1px;
    background: #c4c4c4;
}

/* footer */

.footer {
    margin-top: 100px;
    background: var(--primary-color-black-green, #143c3c);
    font-family: "Poppins";
}

.footer-container {
    padding: 79px 0 96px 0px;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.footer-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
}

.footer-column__heading {
    width: 411px;
    color: var(--text-color-white, #fff);
    font-size: 3.2rem;
    font-weight: 500;
}

.footer-form {
    display: block;
    margin-top: 25px;
}

.input-form {
    width: 212px;
    height: 35px;
    border: none;
    outline: none;
    background: transparent;
    padding: 20px 20px;
    color: var(--scondery-color-gray, #6a8383);
    padding: 0 10px;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 22px; /* 100% */
}

.footer-form__btn {
    margin-left: 111px;
    background: transparent;
    border: none;
}

.footer-form__btn:hover {
    opacity: 0.7;
    cursor: pointer;
}
.footer-form::after {
    display: block;
    content: "";
    width: 354px;
    margin: 32px 0 0 10px;
    height: 1px;
    background: var(--scondery-color-gray, #6a8383);
}

.footer-social {
    margin-top: 50px;
    display: flex;
    gap: 22px;
}

.footer-social__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 1px solid #265252;
    color: #fff;
}

.footer-social__icon:hover {
    background: #a75325;
}

.footer-heading {
    color: var(--text-color-white, #fff);

    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
}

.footer__list {
    margin-top: 6px;
}

.footer-item__link {
    display: block;
    padding: 5px 0;
    color: var(--scondery-color-gray, #6a8383);
    font-family: Public Sans;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 36px; /* 225% */
}
